#site-search-bar {
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  margin: 1rem 0;
  font-size: 1rem;
  border: 0.1rem solid black;
  border-radius: .5rem;
}

#searchBar:focus {
  border-color: var(--link-hover);
}