/* Page-specific details */
body {
  background-image: linear-gradient(to right, #2c3e50 0%, #2980b9 50%, #f1c40f 100%);
}


.TestImgHead {
  position: relative;
  max-width: 100%;
  height: auto;
}

.TestImgHead img {
  width: 100%;
  height: auto;
  display: block;
}

