section {
  margin:.5rem;
  max-width: 95%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  background-image: linear-gradient(to top, #bbb9b6 0%, #bbb9b6 1%, #cfcecc 31%, #d1d0ce 75%, #cacac8 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}